/* Import fonts */
@font-face {
    font-family: 'Calibre';
    src: url("fonts/CalibreWeb-Semibold.woff");

    font-weight: 700;
}
@font-face {
    font-family: 'Calibre';
    src: url("fonts/CalibreWeb-Bold.woff");

    font-weight: 900;
}
@font-face {
    font-family: 'Calibre';
    src: url("fonts/CalibreWeb-Medium.woff");

    font-weight: 500;
}
@font-face {
    font-family: 'Calibre';
    src: url("fonts/CalibreWeb-Regular.woff");

    font-weight: 300;
}

body {
    font-family: 'Calibre', sans-serif;
}

/* Content types */
p {
    padding: 0;
    margin: 0;
	  line-height: 1.35em;
	  font-size: 1em;
    font-weight: 300;
    margin-bottom: 15px;
    transition: all 0.2s;
}
h3 {
    padding: 0;
    margin: 0;
	  font-size: 1.3em;
    font-weight: 700;
    margin-bottom: 15px;
    padding-top: 20px;
	  transition: all 0.2s;
}
/* h2 used mostly for blog */
h2 {
  font-size: 1.9em;
  font-weight: 700;
  padding: 0px;
  margin: 0px;
  padding-bottom: 20px;
}
h1 {
    padding: 0;
    /*padding-top: 40px;*/
    margin: 0;
	  font-size: 2.8em;
    font-weight: 700;
    line-height: 1.1em;

/*    margin-bottom: 30px;*/

	transition: all 0.2s;
}

.bannerText {
	letter-spacing: 0.1em;
}
.navTitle {
	font-size: 1.5em;
}
.navbarDiv li {
  font-size: 1.2em;
  font-weight: 500;
}
/*ul li a {
	font-size: 1.1em;
}*/
p a {
  text-decoration: underline;
}
