#header {
	background: linear-gradient(transparent, transparent),
                 url(../images/banners/about.jpg) no-repeat;
	background: -webkit-linear-gradient(transparent, transparent),
                 url(../images/banners/about.jpg) no-repeat;

	background-position: center;
}

/**/
/* Team */
/**/
.bannerWrapper {
  align-items: baseline;
}

.banner {
  width: 100%;
<<<<<<< HEAD
  /**height: 1067px;
  background-color: gray; 
=======
 
>>>>>>> 677199168cde48f592aa5f9396b9242e907be458
  margin: auto;
  display: block;**/
}
.bannerImage {
  width: 100%;
}

#teamBanner {
	width: 100%;
}

.infoSection {
  vertical-align: top;
  padding-top:20px;
  display: inline-block;
	width: 20%;
}

@media (min-width: 1050px) {
  .infoSection {
    padding-top: 100px;
  }
}


@media (max-width: 870px) {
  .banner {
    width: 100%;
    padding: 0px;
  }
  
  .infoSection {
    width: 90%;
    padding-left: 20px;
    padding-right: 10px;
  }
}

.detailsBottom {
    font-family: "calibre";
    font-weight: 300;
    font-size: 1.2em;
    color: lightgray;
}

.contactInformation {
    padding-top: 35px;
    padding-left: 70px;
}

.faceGrid {
	width: 100%;
	white-space: nowrap;
	position: relative;
	border-top: 1px solid #e2e2e2;
}
h1 {
	margin-top: 1px;
	margin-bottom: 1px;
}
h2 {
	margin-top: 1px;
	margin-bottom: 1px;
}
h3 {
	margin-top: 1px;
	margin-bottom: 1px;
}
p {
	margin-bottom: 5px;
}

.themeYear {
	padding-top: 12px;
	font-weight: 500;
	color: #00B5AD;
	font-size: 1em;
}
.themeDesc {
	font-weight: 500;
	font-size: 1.2em;
}
.theme {
	width: 180px;
}

.content {
	/* padding-top: 70px; */
}

.subsection2 {
	background-color: lightgray;
	padding-left: 7%;
	padding-right: 7%;
	min-height: 465px;
}
.photoSection {
	width: 80%;
	padding-left: 7%;
	padding-right: 10%;
}
.footer{
	width: 100%;
	padding-top: 20px;
	padding-bottom:20px;
	background-color:black;
}
.rightCol {
	padding-top: 5px;
}

@media (max-width: 999px) {
	/* .greaterthan1000 {
		display: none;
	} */
	.content {
		/* padding-top: 60px; */
	}
	.mobileMargin {
		padding-top: 30px;
	}
}

@media (min-width: 1000px) {
	/*h1 {
		padding-top: 80px;
	}*/
	body {
		height: 100%;
		overflow: hidden;
		margin: 0;
		display: flex;
		position: relative;
		width: 100%;
	}
	::-webkit-scrollbar {
    display: none;
  }
	.content {
		overflow-y: auto;
		/* padding-top: 21px; */
		height: 95vh;
	}
	.subsection {
		width: 100%;
		padding-bottom: 70px;
	}
	.photoSection {
		width: 80%;
		padding-left: 7%;
		padding-right: 10%;
	}
	.faceGrid {
		position: relative;
		border-top: 1px solid #e2e2e2;
	}
	.bottomAbout {
		float: left;
		width: 60%;
	}
	.rightCol {
		padding-left: 100px;
		width: 20%;
		float: left;
	}
	.subsection2 {
		padding-top: 50px;
		float:left;
		padding-left: 7%;
		padding-right: 7%;
		background-color: lightgray;
	}
	.footer{
		width: 100%;
		background-color: black;
	}
}

@media (max-width: 600px) {
	.nameBreak {
		display: block;
	}
	.rightCol {
		/* padding-top: 0px; */
		width: 70%;
		/* float: left; */
	}
	.content {
		/* overflow-y: auto; */
		/* padding-top: 10px; */
	}
	.subsection2 {
		padding-top: 50px;
		/* float:left; */
		padding-left: 7%;
		padding-right: 7%;
		background-color: lightgray;
	}
	.photoSection {
		width: 80%;
		padding-left: 7%;
		padding-right: 10%;
	}
	.footer{
		width: 100%;
		padding-top: 21px;
		padding-bottom: 21px;
		background-color: black;
	}
}

/*Firefox Scrollbar Issue*/
@-moz-document url-prefix() {
	@media(min-width: 1000px) {
		body {
			overflow: scroll;
		}
		.leftCol, .rightCol {
			overflow: inherit;
		}
	}
}

/* FROM CONTENTPAGE.CSS */
#header {
	width: 100vw;
	height: 40vw;
	min-height: 350px;

	position: relative;
    background-size: cover;
    background-position:center;

	text-align: center;
}

.contentContainer, #menu {
	margin-top: 60px;
}

@media (min-width:1200px) {
	#header {
		height: 30vw;
	}
}

#headerText {
	color: #241F59;

	width: 100%;

	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);

	font-size: 3em;
	font-weight: 700;
}

@media (min-width:600px) {
	#headerText {
		font-size: 5em;
	}
}

/**/
/* Content */
/**/

.section {
/*	Add padding and negative margin for link anchor offset to acount for nav bar */
/*	70 for navbar height and 30 for padding */
	float: left;
	padding-top: 100px;
	margin: -70px 30px 30px 30px; /* Equivalent to 30 30 60 30 */
}
@media (min-width: 1200px) {
    .section {
	/*	80 for navbar height and 30 for padding */
		padding-top: 110px;
		margin: -80px 30px 30px 30px; /* Equivalent to 30 30 60 30 */
	}
}

.subsection {
	margin: 0 0; /* Originally 30px 0 */
}

/* 2021 People*/

/**Co-chairs**/

#adrian .personLink-img {
	background: linear-gradient(transparent, transparent),
                 url('../images/team2021/adrian_serious.jpg') no-repeat;
	background: -webkit-linear-gradient(transparent, transparent),
                 url('../images/team2021/adrian_serious.jpg') no-repeat;
	background-size: cover;
}

#annie .personLink-img {
	background: linear-gradient(transparent, transparent),
                 url('../images/team2021/Annie_Wang_Serious.jpeg') no-repeat;
	background: -webkit-linear-gradient(transparent, transparent),
                 url('../images/team2021/Annie_Wang_Serious.jpeg') no-repeat;
	background-size: cover;
}

#sofia .personLink-img {
	background: linear-gradient(transparent, transparent),
                 url('../images/team2021/Sofia_serious.png') no-repeat;
	background: -webkit-linear-gradient(transparent, transparent),
                 url('../images/team2021/Sofia_serious.png') no-repeat;
	background-size: cover;
}

/**Content**/

#ella .personLink-img {
	background: linear-gradient(transparent, transparent),
                 url('../images/team2021/ella\ serious.jpeg') no-repeat;
	background: -webkit-linear-gradient(transparent, transparent),
                 url('../images/team2021/ella_serious.jpeg') no-repeat;
	background-size: cover;
}


#moe .personLink-img {
	background: linear-gradient(transparent, transparent),
                 url('../images/team2021/Moe_Serious.jpg') no-repeat;
	background: -webkit-linear-gradient(transparent, transparent),
                 url('../images/team2021/Moe_Serious.jpg') no-repeat;
	background-size: cover;
}

/**CE/SE**/

#alyssa .personLink-img {
	background: linear-gradient(transparent, transparent),
                 url('../images/team2021/Alyssa_Loo_Serious.jpeg') no-repeat;
	background: -webkit-linear-gradient(transparent, transparent),
                 url('../images/team2021/Alyssa_Loo_Serious.jpeg') no-repeat;
	background-size: cover;
}

#helen .personLink-img {
	background: linear-gradient(transparent, transparent),
                 url('../images/team2021/helen_peng_serious.jpeg') no-repeat;
	background: -webkit-linear-gradient(transparent, transparent),
                 url('../images/team2021/helen_peng_serious.jpeg') no-repeat;
	background-size: cover;
}

#parker .personLink-img {
	background: linear-gradient(transparent, transparent),
                 url('../images/team2021/Parker_Ljung_Serious.jpg') no-repeat;
	background: -webkit-linear-gradient(transparent, transparent),
                 url('../images/team2021/Parker_Ljung_Serious.jpg') no-repeat;
	background-size: cover;
}

#sophie .personLink-img {
	background: linear-gradient(transparent, transparent),
                 url('') no-repeat;
	background: -webkit-linear-gradient(transparent, transparent),
                 url('') no-repeat;
	background-size: cover;
}

/**Ops**/

#grace .personLink-img {
	background: linear-gradient(transparent, transparent),
                 url('../images/team2021/Grace_Zhao_Serious.jpeg') no-repeat;
	background: -webkit-linear-gradient(transparent, transparent),
                 url('../images/team2021/Grace_Zhao_Serious.jpeg') no-repeat;
	background-size: cover;
}

#selena .personLink-img {
	background: linear-gradient(transparent, transparent),
                 url('../images/team2021/selena_serious.jpeg') no-repeat;
	background: -webkit-linear-gradient(transparent, transparent),
                 url('../images/team2021/selena_serious.jpeg') no-repeat;
	background-size: cover;
}

/**Graphics**/

#alexis .personLink-img {
	background: linear-gradient(transparent, transparent),
                 url('../images/team2021/Alexis_Serious.jpg') no-repeat;
	background: -webkit-linear-gradient(transparent, transparent),
                 url('../images/team2021/Alexis_Serious.jpg') no-repeat;
	background-size: cover;
}
#truman .personLink-img {
	background: linear-gradient(transparent, transparent),
                 url('../images/team2021/Truman_Serious.jpeg') no-repeat;
	background: -webkit-linear-gradient(transparent, transparent),
                 url('../images/team2021/Truman_Serious.jpeg') no-repeat;
	background-size: cover;
}

/**PR**/

#bright .personLink-img {
	background: linear-gradient(transparent, transparent),
                 url('../images/team2021/bright_serious.jpeg') no-repeat;
	background: -webkit-linear-gradient(transparent, transparent),
                 url('../images/team2021/bright_serious.jpeg') no-repeat;
	background-size: cover;
}
#christine .personLink-img {
	background: linear-gradient(transparent, transparent),
                 url('../images/team2021/Christine_Jeong_Serious.JPG') no-repeat;
	background: -webkit-linear-gradient(transparent, transparent),
                 url('../images/team2021/Christine_Jeong_Serious.JPG') no-repeat;
	background-size: cover;
}
#nicole .personLink-img {
	background: linear-gradient(transparent, transparent),
                 url('') no-repeat;
	background: -webkit-linear-gradient(transparent, transparent),
                 url('') no-repeat;
	background-size: cover;
}

/**Web**/

#angela .personLink-img {
	background: linear-gradient(transparent, transparent),
                 url('../images/team2021/Angela_Akoto_Serious.JPG') no-repeat;
	background: -webkit-linear-gradient(transparent, transparent),
                 url('../images/team2021/Angela_Akoto_Serious.JPG') no-repeat;
	background-size: cover;
}

#delora .personLink-img {
	background: linear-gradient(transparent, transparent),
                 url('../images/team2021/Delora_Li_Serious.jpeg') no-repeat;
	background: -webkit-linear-gradient(transparent, transparent),
                 url('../images/team2021/Delora_Li_Serious.jpeg') no-repeat;
	background-size: cover;
}

@media (min-width: 1000px){
  /*Co-chairs*/
  #adrian .personLink-img:hover {
    background: linear-gradient(transparent, transparent),
                   url('../images/team2021/adrian_funny.jpg') no-repeat;
    background: -webkit-linear-gradient(transparent, transparent),
                   url('../images/team2021/adrian_funny.jpg') no-repeat;
    background-size: cover;
    transform: rotate(360deg);
  }
  #annie .personLink-img:hover {
    background: linear-gradient(transparent, transparent),
                   url('../images/team2021/Annie_Wang_Funny.jpeg') no-repeat;
    background: -webkit-linear-gradient(transparent, transparent),
                   url('../images/team2021/Annie_Wang_Funny.jpeg') no-repeat;
    background-size: cover;
    transform: rotate(360deg);
  }
  #sofia .personLink-img:hover {
    background: linear-gradient(transparent, transparent),
                   url('../images/team2021/sofia_silly.png') no-repeat;
    background: -webkit-linear-gradient(transparent, transparent),
                   url('../images/team2021/sofia_silly.png') no-repeat;
    background-size: cover;
    transform: rotate(360deg);
  }

   /*Content*/
   #ella .personLink-img:hover {
    background: linear-gradient(transparent, transparent),
                   url('../images/team2021/ella_silly.jpeg') no-repeat;
    background: -webkit-linear-gradient(transparent, transparent),
                   url('../images/team2021/ella_silly.jpeg') no-repeat;
    background-size: cover;
    transform: rotate(360deg);
  }
  #moe .personLink-img:hover {
    background: linear-gradient(transparent, transparent),
                   url('../images/team2021/Moe_Funny.jpeg') no-repeat;
    background: -webkit-linear-gradient(transparent, transparent),
                   url('../images/team2021/Moe_Funny.jpeg') no-repeat;
    background-size: cover;
    transform: rotate(360deg);
  }
  /*CE/SE*/
  #alyssa .personLink-img:hover {
    background: linear-gradient(transparent, transparent),
                   url('../images/team2021/Alyssa_Loo_Funny.jpeg') no-repeat;
    background: -webkit-linear-gradient(transparent, transparent),
                   url('../images/team2021/Alyssa_Loo_Funny.jpeg') no-repeat;
    background-size: cover;
    transform: rotate(360deg);
  }
  #helen .personLink-img:hover {
    background: linear-gradient(transparent, transparent),
                   url('../images/team2021/helen_peng_funny.jpeg') no-repeat;
    background: -webkit-linear-gradient(transparent, transparent),
                   url('../images/team2021/helen_peng_funny.jpeg') no-repeat;
    background-size: cover;
    transform: rotate(360deg);
  }
  #parker .personLink-img:hover {
    background: linear-gradient(transparent, transparent),
                   url('../images/team2021/Parker_Ljung_Funny.jpg') no-repeat;
    background: -webkit-linear-gradient(transparent, transparent),
                   url('../images/team2021/Parker_Ljung_Funny.jpg') no-repeat;
    background-size: cover;
    transform: rotate(360deg);
  }
  #sophie .personLink-img:hover {
    background: linear-gradient(transparent, transparent),
                   url('') no-repeat;
    background: -webkit-linear-gradient(transparent, transparent),
                   url('') no-repeat;
    background-size: cover;
    transform: rotate(360deg);
  }
  /*Ops*/
  #grace .personLink-img:hover {
    background: linear-gradient(transparent, transparent),
                   url('../images/team2021/Grace_Zhao_Funny.jpeg') no-repeat;
    background: -webkit-linear-gradient(transparent, transparent),
                   url('../images/team2021/Grace_Zhao_Funny.jpeg') no-repeat;
    background-size: cover;
    transform: rotate(360deg);
  }
  #selena .personLink-img:hover {
    background: linear-gradient(transparent, transparent),
                   url('../images/team2021/selena_silly.jpeg') no-repeat;
    background: -webkit-linear-gradient(transparent, transparent),
                   url('../images/team2021/selena_silly.jpeg') no-repeat;
    background-size: cover;
    transform: rotate(360deg);
  }
  /*Graphics*/
  #alexis .personLink-img:hover {
    background: linear-gradient(transparent, transparent),
                   url('../images/team2021/Alexis_Funny.jpeg') no-repeat;
    background: -webkit-linear-gradient(transparent, transparent),
                   url('../images/team2021/Alexis_Funny.jpeg') no-repeat;
    background-size: cover;
    transform: rotate(360deg);
  }
  #truman .personLink-img:hover {
    background: linear-gradient(transparent, transparent),
                   url('../images/team2021/Truman_Funny.jpeg') no-repeat;
    background: -webkit-linear-gradient(transparent, transparent),
                   url('../images/team2021/Truman_Funny.jpeg') no-repeat;
    background-size: cover;
    transform: rotate(360deg);
  }
  /*PR*/
  #bright .personLink-img:hover {
    background: linear-gradient(transparent, transparent),
                   url('../images/team2021/bright_silly.jpeg') no-repeat;
    background: -webkit-linear-gradient(transparent, transparent),
                   url('../images/team2021/bright_silly.jpeg') no-repeat;
    background-size: cover;
    transform: rotate(360deg);
  }
  #christine .personLink-img:hover {
    background: linear-gradient(transparent, transparent),
                   url('../images/team2021/Christine_Jeong_Funny.jpeg') no-repeat;
    background: -webkit-linear-gradient(transparent, transparent),
                   url('../images/team2021/Christine_Jeong_Funny.jpeg') no-repeat;
    background-size: cover;
    transform: rotate(360deg);
  }
  #nicole .personLink-img:hover {
    background: linear-gradient(transparent, transparent),
                   url('') no-repeat;
    background: -webkit-linear-gradient(transparent, transparent),
                   url('') no-repeat;
    background-size: cover;
    transform: rotate(360deg);
  }
  /*Web*/
  #angela .personLink-img:hover {
    background: linear-gradient(transparent, transparent),
                  url('../images/team2021/Angela_Akoto_Funny.JPG') no-repeat;
    background: -webkit-linear-gradient(transparent, transparent),
                  url('../images/team2021/Angela_Akoto_Funny.JPG') no-repeat;
    background-size: cover;
    transform: rotate(360deg);
  }
  #delora .personLink-img:hover {
    background: linear-gradient(transparent, transparent),
                  url('../images/team2021/Delora_Li_Funny.JPG') no-repeat;
    background: -webkit-linear-gradient(transparent, transparent),
                  url('../images/team2021/Delora_Li_Funny.JPG') no-repeat;
    background-size: cover;
    transform: rotate(360deg);
  }

  .personLink-img:hover{
    transition: all 0.3s;
  }
}
