/*yellow: #ffd400*/
/*green: #00B5AD*/
/*blue: #241F59*/
/*red: #EF413D*/
.conferenceCover {
  display: block;
  background-image: url(../images/2019/noise.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 70px;
  min-height: 500px;
  width: 100%;
  margin-bottom: 50px;
}

.conferenceHeader {
  display: block;
  background-image: url(../images/2019/conferenceBackground.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 30px 7% 0px 7%;
}

.conferenceBlock {
  display: block;
}

.conferenceBlock1 {
  padding: 10px 37% 10px 10px;
}

.conferenceBlock2 {
  padding: 10px 10px 10px 50%;
}

.conferenceIntro {
  padding: 30px 10px 0px 0px;
}

.conferenceHeading {
  padding: 0px 0px 20px 0px;
  font-size: 4em;
  line-height: 0.95;
}

.conferenceBlock p {
  font-weight: 100;
}

.conferenceContent1 {
  display: block;
  padding-right: 20%;
}
#mobileschedule {
  padding: 0px 7% !important;
}
.schedule {
  margin: 0px 5%;
}

.conferenceSpeaker {
  display: block;
  margin: 50px 6% 0px 6%;
}

.scheduleTitle {
  margin-top: 40px;
  padding-left: 20px;
  font-size: 2em;
  font-weight: 300;
  margin-bottom: 20px;
  line-height: 50px;
}

.scheduleTitleWords {
  display: inline-block;
  margin-right: 30px;
  font-weight: 600;
  font-size: 1.2em;
}

.sensitiveMaterial {
    font-style: italic;
}

.legends {
  float: right;
  margin-right: 20px;
  display: inline-block;
}

.legendBlock {
  width: 10px;
  height: 13px;
  display: inline-block;
}

.blockRed{
  background: #EF413D;
}
.blockYellow{
  background: #FFD400;
}
.blockGreen{
  background: #00B5AD;
}
.blockBlue{
  background: #241F59;
}

.legendKey {
  color: #241F59;
  font-size: 0.4em;
  display: inline-block;
}

.legendsWrapper {
  display: inline-block;
}

.speakerTitle {
  display: block;
  padding-left: 30px;
  font-size: 2.5em;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 50px;
}

.mobileinfo {
  margin: 0px;
  padding-right: 0px;
}

.threeCol {
  display: inline-block;
  width: 27%;
}

.twoCol {
  display: inline-block;
  width: 40%;
}

@media (max-width: 820px) {
  .threeCol, .twoCol {
    display: block;
    width: 100%;
  }
}

#mobileschedule {
  display: block;
  padding: 0px 10% 40px 10%;
}

@media (max-width: 700px) { 
  .speakerTitle {
    padding-left: 10px;
    font-size: 2em;
  }
  .scheduleTitle {
    padding-left: 10px;
  }
  #mobileschedule {
    display: block;
    padding: 0px 0px 40px 0px;
  }
  .scheduleTitleWords {
    width: 100%;
    margin-right: 0px;
    font-size: 1em;
  }
  .legends {
    float: none;
  }
}

@media (max-width: 600px) { 
  .legendsWrapper {
    width: 100%;
  }
}


.mobileevent {
  margin-top: 10px;
  font-size: 1.1em;
}

.mobiletime {
  margin-left: 20px;
  font-weight: 300;
  font-size: 1.1em;
}

.mobiletimeblock {
  padding: 0px 10px 0px 0px;
  margin: 20px 10px 20px 15px;
  /*  border-bottom: 1px solid #BFBFBF;*/
  border-bottom: none;
}

/*
.scheduleBotLine {
border-bottom: 1px solid #BFBFBF;
}
*/

.title {
  font-size: 1.1em;
  font-weight: 500;
}

.location {
  padding: 0px;
  font-size: 1em;
  /*  font-weight: 400;*/
}

.speaker {
  margin-bottom: 5px;
}

.keynote {
  border-left: 3px solid #ffd400;
}

.lecture {
  border-left: 3px solid #241F59;
}

.workshop {
  border-left: 3px solid #EF413D;
}

.scheduleLogistics {
  color: #241F59; 
  font-size: 1.1em; 
  margin-top: 14px; 
  margin-bottom: 15px;
  margin-left: 15px;
  padding-left: 15px;
  border-left: 3px solid #00B5AD;
}

.scheduleLogTime {
  font-weight: 300;
}

.scheduleLogTitle {
  font-weight: 500;
  font-size: 1.1em;
  margin: 5px 0px;
}

.moreSpeakers {
  display: block;
  width: 100%;
  padding: 20px 20px 100px 20px;
  position: relative;
  float: left;
  font-size: 1.4em;
}

@media (max-width: 1100px) {
  .conferenceHeading {
    font-size: 3em;
  }
}


@media (max-width: 1000px) {
  .conferenceCover {
    display: none;
  }

  .conferenceBlock1 {
    padding: 10px;
  }

  .conferenceBlock2 {
    padding: 10px;
  }
  .conferenceContent1 {
    padding: 0px;
  }
  .conferenceSpeaker {
    margin-top: -20px;
  }  
}

@media (max-width: 800px) {
  .conferenceHeading {
    font-size: 2.3em;
  }

  .moreSpeakers {
    padding-left: 10px;
  }
}

.bio a {
  text-decoration-line: none;
}

.pronounTag {
  font-weight: 100;
  font-size: 0.9em;
  margin-top: -2px;
}

.pdfDownload {
  margin: 30px 10px 10px 20px;
  font-size: 1.2em;
  line-height: 30px;
}

.pdfLink {
  border-bottom: solid 1px #241F59; 
}

.pdfLink:hover {
  border-bottom: solid 1px #00B5AD; 
}

.dropdown b {
  font-weight: 400;
}

#barbara-london .personLink-img {
  background: linear-gradient(transparent, transparent),
    url('../images/2019/speakers/barbara-london.jpg') no-repeat;
  background: -webkit-linear-gradient(transparent, transparent),
    url('../images/2019/speakers/barbara-london.jpg') no-repeat;
  background-size: contain;
}

#tendernet .personLink-img {
  background: linear-gradient(transparent, transparent),
    url('../images/2019/speakers/tendernet.jpg') no-repeat;
  background: -webkit-linear-gradient(transparent, transparent),
    url('../images/2019/speakers/tendernet.jpg') no-repeat;
  background-size: contain;
}

#danny-chapman .personLink-img {
  background: linear-gradient(transparent, transparent),
    url('../images/2019/speakers/danny-chapman.jpg') no-repeat;
  background: -webkit-linear-gradient(transparent, transparent),
    url('../images/2019/speakers/danny-chapman.jpg') no-repeat;
  background-size: contain;
}

#karen-krolak .personLink-img {
  background: linear-gradient(transparent, transparent),
    url('../images/2019/speakers/karen-krolak.jpg') no-repeat;
  background: -webkit-linear-gradient(transparent, transparent),
    url('../images/2019/speakers/karen-krolak.jpg') no-repeat;
  background-size: contain;
}

#deroy-peraza .personLink-img {
  background: linear-gradient(transparent, transparent),
    url('../images/2019/speakers/deroy-peraza.jpg') no-repeat;
  background: -webkit-linear-gradient(transparent, transparent),
    url('../images/2019/speakers/deroy-peraza.jpg') no-repeat;
  background-size: contain;
}

#irene-alvarado .personLink-img {
  background: linear-gradient(transparent, transparent),
    url('../images/2019/speakers/irene-alvarado.jpg') no-repeat;
  background: -webkit-linear-gradient(transparent, transparent),
    url('../images/2019/speakers/irene-alvarado.jpg') no-repeat;
  background-size: contain;
}

#alex-chen .personLink-img {
  background: linear-gradient(transparent, transparent),
    url('../images/2019/speakers/alex-chen.jpg') no-repeat;
  background: -webkit-linear-gradient(transparent, transparent),
    url('../images/2019/speakers/alex-chen.jpg') no-repeat;
  background-size: contain;
}

#pinar-guvenc .personLink-img {
  background: linear-gradient(transparent, transparent),
    url('../images/2019/speakers/pinar-guvenc.jpg') no-repeat;
  background: -webkit-linear-gradient(transparent, transparent),
    url('../images/2019/speakers/pinar-guvenc.jpg') no-repeat;
  background-size: contain;
}

#brendan-ciecko .personLink-img {
  background: linear-gradient(transparent, transparent),
    url('../images/2019/speakers/brendan-ciecko.jpg') no-repeat;
  background: -webkit-linear-gradient(transparent, transparent),
    url('../images/2019/speakers/brendan-ciecko.jpg') no-repeat;
  background-size: contain;
}

#kevin-yoo .personLink-img {
  background: linear-gradient(transparent, transparent),
    url('../images/2019/speakers/kevin-yoo.png') no-repeat;
  background: -webkit-linear-gradient(transparent, transparent),
    url('../images/2019/speakers/kevin-yoo.png') no-repeat;
  background-size: contain;
}

#clare-stanton .personLink-img {
  background: linear-gradient(transparent, transparent),
    url('../images/2019/speakers/clare-stanton.jpg') no-repeat;
  background: -webkit-linear-gradient(transparent, transparent),
    url('../images/2019/speakers/clare-stanton.jpg') no-repeat;
  background-size: contain;
}

#anastasia-aizman .personLink-img {
  background: linear-gradient(transparent, transparent),
    url('../images/2019/speakers/anastasia-aizman.jpg') no-repeat;
  background: -webkit-linear-gradient(transparent, transparent),
    url('../images/2019/speakers/anastasia-aizman.jpg') no-repeat;
  background-size: contain;
}

#matthew-battles .personLink-img {
  background: linear-gradient(transparent, transparent),
    url('../images/2019/speakers/matthew-battles.jpg') no-repeat;
  background: -webkit-linear-gradient(transparent, transparent),
    url('../images/2019/speakers/matthew-battles.jpg') no-repeat;
  background-size: contain;
}

#molly-surno .personLink-img {
  background: linear-gradient(transparent, transparent),
    url('../images/2019/speakers/molly-surno.jpg') no-repeat;
  background: -webkit-linear-gradient(transparent, transparent),
    url('../images/2019/speakers/molly-surno.jpg') no-repeat;
  background-size: contain;
}

#dhairya-pujara .personLink-img {
  background: linear-gradient(transparent, transparent),
    url('../images/2019/speakers/dhairya-pujara.jpg') no-repeat;
  background: -webkit-linear-gradient(transparent, transparent),
    url('../images/2019/speakers/dhairya-pujara.jpg') no-repeat;
  background-size: contain;
}

#brendan-ciecko .personLink-img {
  background: linear-gradient(transparent, transparent),
    url('../images/2019/speakers/brendan-ciecko.jpg') no-repeat;
  background: -webkit-linear-gradient(transparent, transparent),
    url('../images/2019/speakers/brendan-ciecko.jpg') no-repeat;
  background-size: contain;
}

#pinar-guvenc .personLink-img {
  background: linear-gradient(transparent, transparent),
    url('../images/2019/speakers/pinar-guvenc.jpg') no-repeat;
  background: -webkit-linear-gradient(transparent, transparent),
    url('../images/2019/speakers/pinar-guvenc.jpg') no-repeat;
  background-size: contain;
}

#miya-osaki .personLink-img {
  background: linear-gradient(transparent, transparent),
    url('../images/2019/speakers/miya-osaki.jpg') no-repeat;
  background: -webkit-linear-gradient(transparent, transparent),
    url('../images/2019/speakers/miya-osaki.jpg') no-repeat;
  background-size: contain;
}