.conferenceHeader {
  display: block;
  background-image: url(../images/2019/conferenceBackground.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 30px 10% 0px 10%;
}

.conferenceBlock {
  display: block;
}

.conferenceBlock1 {
  padding: 10px 20% 10px 10px;
}

.conferenceBlock2 {
  padding: 10px 10px 10px 50%;
}

.conferenceIntro {
  padding: 30px 10px 0px 0px;
}

.conferenceHeading {
  padding: 0px 0px 20px 0px;
  font-size: 4em;
  line-height: 0.95;
}

.conferenceBlock p {
  font-weight: 100;
}

.conferenceContent1 {
  display: block;
  padding-right: 20%;
}

.schedule {
  margin: 0px 10%;
}

.conferenceSpeaker {
  display: block;
  margin: 50px 8% 0px 8%;
}

.scheduleTitle {
  margin-top: 40px;
  padding-left: 20px;
  font-size: 2em;
  font-weight: 300;
  margin-bottom: 20px;
}

.speakerTitle {
  display: block;
  padding-left: 30px;
  font-size: 2em;
  font-weight: 300;
  margin-bottom: 20px;
  margin-top: 50px;
}

@media (max-width: 700px) {
  .speakerTitle {
    padding-left: 10px;
  }
}

#mobileschedule {
  display: block;
  padding: 0px 10% 40px 10% !important;
}

.mobileevent {
  margin-top: 20px;
  font-size: 1.1em;
}

.mobiletime {
  margin-left: 20px;
  font-weight: 300;
  font-size: 1.1em;
}

.mobiletimeblock {
  padding: 30px 10px 30px 10px;
  border-bottom: 1px solid #BFBFBF;
}

.scheduleBotLine {
  border-bottom: 1px solid #BFBFBF;
}

.scheduleLogistics {
  color: #00B5AD; 
  font-size: 1.1em; 
  padding-top: 14px; 
  padding-bottom: 14px;
  padding-left: 30px;
}

.scheduleLogTime {
  font-weight: 300;
}

.scheduleLogTitle {
  font-weight: 500;
  font-size: 1.1em;
  margin: 5px 0px;
}

.moreSpeakers {
  display: block;
  width: 100%;
  padding: 20px 20px 100px 20px;
  position: relative;
  float: left;
  font-size: 1.4em;
}

@media (max-width: 1100px) {
  .conferenceHeading {
    font-size: 3em;
  }
}


@media (max-width: 1000px) {
  .conferenceBlock1 {
    padding: 10px;
  }

  .conferenceBlock2 {
    padding: 10px;
  }
  .conferenceContent1 {
    padding: 0px;
  }
  .conferenceSpeaker {
    margin-top: -20px;
  }  
}

@media (max-width: 800px) {
  .conferenceHeading {
    font-size: 2.3em;
  }
  
  .moreSpeakers {
    padding-left: 10px;
  }
}

#barbara-london .personLink-img {
	background: linear-gradient(transparent, transparent),
                 url('../images/2019/speakers/barbara-london.jpg') no-repeat;
	background: -webkit-linear-gradient(transparent, transparent),
                 url('../images/2019/speakers/barbara-london.jpg') no-repeat;
	background-size: contain;
}

#tendernet .personLink-img {
	background: linear-gradient(transparent, transparent),
                 url('../images/2019/speakers/tendernet.jpg') no-repeat;
	background: -webkit-linear-gradient(transparent, transparent),
                 url('../images/2019/speakers/tendernet.jpg') no-repeat;
	background-size: contain;
}

#danny-chapman .personLink-img {
	background: linear-gradient(transparent, transparent),
                 url('../images/2019/speakers/danny-chapman.jpg') no-repeat;
	background: -webkit-linear-gradient(transparent, transparent),
                 url('../images/2019/speakers/danny-chapman.jpg') no-repeat;
	background-size: contain;
}

#karen-krolak .personLink-img {
	background: linear-gradient(transparent, transparent),
                 url('../images/2019/speakers/karen-krolak.jpg') no-repeat;
	background: -webkit-linear-gradient(transparent, transparent),
                 url('../images/2019/speakers/karen-krolak.jpg') no-repeat;
	background-size: contain;
}

#deroy-peraza .personLink-img {
	background: linear-gradient(transparent, transparent),
                 url('../images/2019/speakers/deroy-peraza.jpg') no-repeat;
	background: -webkit-linear-gradient(transparent, transparent),
                 url('../images/2019/speakers/deroy-peraza.jpg') no-repeat;
	background-size: contain;
}

#irene-alvarado .personLink-img {
	background: linear-gradient(transparent, transparent),
                 url('../images/2019/speakers/irene-alvarado.jpg') no-repeat;
	background: -webkit-linear-gradient(transparent, transparent),
                 url('../images/2019/speakers/irene-alvarado.jpg') no-repeat;
	background-size: contain;
}

#alex-chen .personLink-img {
	background: linear-gradient(transparent, transparent),
                 url('../images/2019/speakers/alex-chen.jpg') no-repeat;
	background: -webkit-linear-gradient(transparent, transparent),
                 url('../images/2019/speakers/alex-chen.jpg') no-repeat;
	background-size: contain;
}

#pinar-guvenc .personLink-img {
	background: linear-gradient(transparent, transparent),
                 url('../images/2019/speakers/pinar-guvenc.jpg') no-repeat;
	background: -webkit-linear-gradient(transparent, transparent),
                 url('../images/2019/speakers/pinar-guvenc.jpg') no-repeat;
	background-size: contain;
}

#brendan-ciecko .personLink-img {
	background: linear-gradient(transparent, transparent),
                 url('../images/2019/speakers/brendan-ciecko.jpg') no-repeat;
	background: -webkit-linear-gradient(transparent, transparent),
                 url('../images/2019/speakers/brendan-ciecko.jpg') no-repeat;
	background-size: contain;
}

#kevin-yoo .personLink-img {
	background: linear-gradient(transparent, transparent),
                 url('../images/2019/speakers/kevin-yoo.png') no-repeat;
	background: -webkit-linear-gradient(transparent, transparent),
                 url('../images/2019/speakers/kevin-yoo.png') no-repeat;
	background-size: contain;
}

#ekene-ijeoma .personLink-img {
	background: linear-gradient(transparent, transparent),
                 url('../images/2019/speakers/ekene-ijeoma.png') no-repeat;
	background: -webkit-linear-gradient(transparent, transparent),
                 url('../images/2019/speakers/ekene-ijeoma.png') no-repeat;
	background-size: contain;
}

